<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <title>ToDo List</title>
</head>

<body>
    <table cellpadding="4">
        <tr>
            <th>Task</th>
            <th>Complete?</th>
        </tr>
        {% for task in todo_list %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.complete }}</td>
            <td>
                <a class="btn btn-primary" href="/update/{{ task.id }}">Update</a>
            </td>
            <td>
                <a class="btn btn-danger" href="/delete/{{ task.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/add" method="POST">
        <label>ToDo Title</label>
        <input type="text" name="title" placeholder="Enter the next task ">
        <br>
        <button type="submit">Add</button>
    </form>
</body>

</html>